html, body {
  height: 100vh;
  margin: 0px;
}
.welcome {
  height: 100vh;
  background-image: linear-gradient(to right, #8B008B, #000080);
  /*color - cor da fonte*/
  color: #fff;

}

.welcome > img {
/*caso queria mudar*/
  margin-left: 60px;
  margin-top: 90px;

}

.welcome > h1, p {
  margin-left: 60px;
  margin-top: 20px;
}

.login > h2 {
  margin-top: 50px;
  text-align: center;
  padding: 40px;
}

.login > ul {
  text-transform: uppercase;
}

.login > .nav-pills > li > .nav-link {
  color: #00008B;
}

.login > .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #00008B;
  color: #fff
}

.bg-gradient {
  background-image: linear-gradient(to right, #8B008B, #000080);
  color: #fff
}

.bg-gradient:hover {
  background-image: linear-gradient(to right,#FF00FF, #0000CD);
  color: #fff
}

#user-excluir {
  text-transform: uppercase;
}